/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/

.heading{
	display:flex;
	justify-content: center;
	margin:20px;
}
.name-container{
	display:flex;
	justify-content: center;
	margin: 20px;
}
.name-input{
	display:flex;
	justify-content: center;
	margin:10px;
}
.other-inputs{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width: 700px;
	margin:auto;
}
.jersey{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
.position{
	display:flex;
	flex-direction: row;
}
.archetype{
	display:flex;
	flex-direction: row;
}
.submit-container{
	display: flex;
	justify-content: center;
}