/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/
body{
	background-repeat: no-repeat;
	height:100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
.heading{
	display:flex;
	justify-content: space-around;
	width:53%;
	margin:auto;
	font-family: 'Russo One', sans-serif;
}
.name-container{
	display:flex;
	justify-content: center;
	margin: 20px;
	font-family: 'Russo One', sans-serif;
}
.name-input{
	display:flex;
	justify-content: center;
	margin:10px;
}
.other-inputs{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width: 63%;
	margin:auto;
	font-family: 'Russo One', sans-serif;
}
.jersey{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: 'Russo One', sans-serif;
}
.position{
	display:flex;
	flex-direction: row;
	font-family: 'Russo One', sans-serif;
}
.archetype{
	display:flex;
	flex-direction: row;
	font-family: 'Russo One', sans-serif;
}
.submit-container{
	display: flex;
	width:20%;
	height: 100px;
	justify-content: space-between;
	flex-direction: column;
	font-family: 'Russo One', sans-serif;
}
.row{
	display:flex;
	width: 60%;
	height: auto;
	margin: auto;
	justify-content: center;
	font-family: 'Russo One', sans-serif;
}
select{
	margin:3px;
}
input{
	border-radius:5px;
	font-family: 'Russo One', sans-serif;
}